<%= form_for(current_user, url: update_account_settings_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.check_box :otp_enabled %>
    <%= f.label :otp_enabled, 'Enable Two-Factor Authentication' %>
  </div>

  <div class="actions">
    <%= f.submit "Update Account Settings" %>
  </div>
<% end %>
